h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#scramble {
    font-size: 3.5em;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
}

#content {
    text-align: center;
}

#prev div {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 50px solid black;
    background-color: transparent;
}

#next div {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 50px solid black;
    background-color: transparent;
}

#next, #prev {
    align-self: center;
}

#next {
    order: 10;
}

body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 200px;
    margin-top: 30px;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#how-many-input, #minutes, #hours, #seconds {
    height: 20vh;
    width: 11vw;
    font-size: 5em;
    text-align: center;
    margin-top: 20px;
}

#text-input {
    font-size: 5em;
    width: 75%;
}

.semicolon-big {
    font-size: 5em;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

#mistake-form {
    margin: 32px;
}

#cube-preview {
    width: 200px;
    margin: 32px;
}

#duration {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width:800px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    #next {
        order: initial;
    }

    #scramble {
        font-size: 2em;
    }

    #how-many-input, #minutes, #hours, #seconds {
        font-size: 3em;
    }
}

p.submission-note {
    font-style: italic;
    width: 30%;
    line-height: 1.5em;
    margin-top: 30px;
}

