body {
    margin: 0 0 0 0;
}

nav ul {
    margin: 0 0 0 0;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: grey;
    list-style-type: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;    
}

label[name="toggles"] {
    padding: 30px;
    box-sizing: border-box;
    height: 100%;
}

nav ul li:hover, nav ul li:focus {
    background-color: darkgray;
}

a, a:visited {
    text-decoration: none;
}

[name="toggles"] {
    display: none;
}

#timePerSolvedChartToggle:not(:checked) ~ main #timePerSolved,
#errorsPieChartToggle:not(:checked) ~ main #errors
 {
    display: none;
}

#timePerSolvedChartToggle:checked ~ nav label[for="timePerSolvedChartToggle"],
#errorsPieChartToggle:checked ~ nav label[for="errorsPieChartToggle"] {
    background-color: black;
}

