body {
    display: flex;
    flex-direction: column;
}

a, a:visited {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
    height: 30vh;
    border: 2px solid black;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color ease-in-out 300ms, 
                color ease-in-out 400ms;

}

a:hover {
    background-color: grey;
    color: white;
}

svg {
    height: 100%;
    margin: 4px;
}

a svg *{
    stroke-width: 3;
    stroke:black;
    transition: all ease-in-out 400ms;
}

a:hover svg path {
    stroke: white;
    fill: white;
}

a:hover svg rect {
    fill: none;
    stroke: white;
}
